@charset "utf-8";
/* CSS Document */

#card {
	margin: auto;
	padding: 10px;
	height: 460px;
	width: 300px;
	background-color: #878DB3;
	border-radius: 20px;
}
#pic {
	margin: auto;
	height: 200px;
	width: 200px;
	background-color: #93CBDC;
	background-image: url(images/head8.png);
	border-radius: 100px;
	background-size: contain;
	background-position: 25px 0%;
	background-repeat: no-repeat;
}
h3 {
	color: #000000;
	text-align: center;
}

#word {
	margin: auto;
	width: 60%;
	background-image: url(url);
	text-align: center;
}
h4 {
	text-align: center;
	background-repeat: no-repeat;
}
h4 {
	background-repeat: no-repeat;
}
h4 {
}



h1 {
	text-align: center;

}
